* {
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-family: 'Stick No Bills', sans-serif;
}

body{
    background-color: #EA2B0D;
}

.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.left-content,.right-content{
    flex-basis: 50%;
}